:root {
    --background-black : #191919;
    --background-white : #eeeeee;
    --dukyoung-color : #006DBB;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    width: 100%;
    height: 100%;
    background-color: var(--background-white);

    /* overflow-x: hidden; */
    overflow-y: scroll;
}

/*nav bar*/
#nav-bar-box {
    background-color: var(--background-black);
    width: 100%;
    height: 10vh;
    z-index: 100;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.25);

    /* position: fixed; */
    position: sticky;
    top: 0px;

    transition: top .2s;
}

#nav-bar-box > * {
    margin: 0 2vw;
}

.WITTY-logo-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    cursor: default;
}

.WITTY-logo-svg {
    width: 4vh;
}

.WITTY-logo-text {
    font-size: 4vh;
    font-family: "Pretendard Variable";
    font-weight: 900;
    color: #fff;

    margin: 0 1vw;
}

#nav-searchform {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#nav-bar-search {
    width: 5.5vh;
    height: 5.5vh;
    max-width: 30vw;

    background: none;

    border: 0.2vw solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
    padding: none;

    font-size: 2vh;
    color: #fff;

    overflow: hidden;

    transition: .5s;
}

#search-icon-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-icon {
    transition: 0.2s;
    width: 3vh;
    filter: invert(99%) sepia(6%) saturate(785%) hue-rotate(249deg) brightness(112%) contrast(100%);
    cursor: text;
}   

#nav-bar-search:focus {
    width: 20vw;
    background-color: #333333;
    outline: none;
    border-radius: 10px;
    border: 3px solid var(--dukyoung-color);
}

#nav-bar-search:focus + #search-icon {
    opacity: 0;
    color: var(--dukyoung-color);
}   

@media (max-width: 500px) {
    #nav-bar-search {
        border: 0.5vw solid #fff;
    }

    #nav-bar-search:focus {
        width: 50vw;
        max-width: 300px;
    }

    #search-icon {
        font-size: 4vh;
    }
}

/* section */
#office-filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
}

#office-filter-box {
    position: relative;
}

#office-filter-btn {
    width: 5vw;
    height: auto;
    margin: 5vh 2vw 0;
    float: right;

    cursor: pointer;
    
    transition-duration: .2s;
    /* transform: none; */
    transform-origin: 50% calc(50% - .7vh);

}

#filter-icon {
    width: 100%;
}

#filterform-box {
    display: none;

    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 100%;
}

#filterform-box > form {
    height: 100%;
}

#filterform-submit {
    position: absolute;
    display: none;
    right: 0;
    top: calc(100%);
}

#filterform-submit.show {
    display: block;
}

#office-filter-btn.show {
    transform: rotateZ(180deg);
}

#filterform-box.show {
    z-index: 99;
    display: block;
    
    width: 20vw;
    min-width: 150px;
    height: 30vw;
    min-height: 200px;
    padding: 3vh 3vw;
    
    background-color: #fff;
    border-radius: 7px;

    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.25);
}

.filterform-checkbox > div{
    padding: 2vh 0;
    cursor: pointer;
}

.filterform-checkbox > div > span {
    font-size: 20px;
    font-family: "Pretendard Variable";
    font-weight: 500;
}

@media (max-width: 500px) {
    #office-filter-btn {
        width: 10vw;
        margin: 5vh 5vw 0;
    }
}

#content-box {
    animation-name: fadeIn;
    animation-duration: 0.75s;

    padding-bottom: 20vh;
}

.location-name {
    width: calc(100% - 1.5vw);

    font-size: 40px;
    font-family: "Pretendard Variable";
    font-weight: 700;
    
    padding: 10vh 0 0 1.5vw;
}

.location-name:nth-child(1) {
    padding-top: 0;
}

#cards-box {
    width: 100%;
    height: 100%;
    padding-top: 1vh;
    border: 2vw solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 3.5vh;
    column-gap: 2vw;
    align-items: stretch;

    cursor: default;
}

.teacher-index-card {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4% 0 30% 0;

    transform-style: preserve-3d;
    transition: .4s;
}
.teacher-index-card:hover {
    overflow-y: scroll;
}

.teacher-index-card::-webkit-scrollbar {
    display: none;
}

.teacher-index-card > div {
    text-align: center;
} 

.card-back {
    position: absolute;
    opacity: 0;
    color: #fff;
    top: 0;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    transition: .4s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.subjects-name {
    line-height: 150%;
}

.teacher-index-card:hover .card-back {
    opacity: 1;
}

.teacher-index-card:hover .card-front {
    opacity: 0;
}

.teacher-index-card:hover {
    background-color: var(--background-black);
}

#img-frame {
    width: 50%;
    aspect-ratio: 1/1;
    margin-top: 10%;

    border-radius: 100%;

    overflow: hidden;

    margin-bottom: 2vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img {
    object-fit: fill;

    width: 100%;
    height: auto;
}

.card-front > p {
    font-size: 30px;
    padding-top: 7%;
    margin: 0;
    font-family: "Pretendard Variable";
    font-weight: 700;
}

.card-front > div {
    font-family: "Pretendard Variable";
    font-weight: 400;
}

.card-back > p {
    font-size: 23px;
    font-family: "Pretendard Variable";
    font-weight: 700;
    margin-top: 7%;
    margin-bottom: 2%;
}

.card-back > div {
    font-size: 15px;
    font-family: "Pretendard Variable";
    font-weight: 400;
}

/* footer */
#footer {
    width: 100%;
    height: 30vh;
    
    background-color: var(--background-black);

    display: flex;
    flex-direction: column;

    justify-content: end;
    padding: 4vh 1vw;

    box-sizing: border-box;
}

.footer-content, #copyright {
    padding: 1vh 2vw;
    font-size: 15px;
    font-family: "Pretendard Variable";
    font-weight: 400;
    color: #fff;
}

#footer-WITTY {
    cursor: default;
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 1vh 2vw;
}

#copyright {
    color: #999;
}

/* root */
@media (max-width: 500px) {
    #cards-box {
        grid-template-columns: repeat(auto-fill, minmax(150px, auto));
        border: 4vw solid rgba(0, 0, 0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(2vh);
    }
    
    to{
        opacity: 1;
    }
}